[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
Exec=/home/kasm-user/.local/kitty.app/bin/kitty --session /home/kasm-user/.config/kitty/sessions/startup --title 'Kitty Terminal Emulator' --override allow_remote_control=yes --listen-on unix:/tmp/cowboykitty
Icon=/home/kasm-user/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
